/* Color Variable login */

:root {
    --primary-color: #fff;
}

:root {
    --secondary-color: #000;
}

:root {
    --login-background: #0d6efd;
}

/* Color variable login */

body {
    background-color: var(--login-background);
}

.login-container {
    width: 450px;
    height: 500px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table;
    max-width: 100%;
    max-height: 100%;
    padding: 1em 2em;
    overflow: auto;
    border-radius: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {

    .login-container {
        width: 320px;
        height: 270px;
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: table;
        max-width: 100%;
        max-height: 100%;
        padding: 1em 2em;
        overflow: auto;
        border-radius: 15px;
    }
}

.login-container-text-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.login-container-content {
    display: table-cell;
    vertical-align: middle;
}

.login-container form {
    margin: 0 auto;
    padding: 10px;
    max-width: 300px;
}

.login-container-input {
    margin-bottom: 10px;
}

.login-container-button-login {
    width: 100%;
    height: auto;
    position: relative !important;
    margin-top: 20px;
    font-weight: bold;
}

.login-hr-class {
    height: 1px;
    opacity: .50;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    color: inherit;
    background-color: var(--secondary-color);
}

.login-container-section-bottom {
    width: 100%;
    height: auto;
    position: relative !important;
    margin-top: 0.5rem;
}

.login-container-section-bottom-register {
    position: relative !important;
    width: 100%;
    margin-bottom: 5px;
}

.login-container-section-bottom-register a {
    text-decoration: none;
}

.login-container-section-bottom-forget {
    position: relative !important;
    width: 100%;
}

.login-container-section-bottom-forget a {
    text-decoration: none;
}

.login-container-bottom-section-span {
    margin-left: 0.5rem;
    color: var(--secondary-color);
    font-weight: bold;
}

.login-container-bottom-section-span-href {
    margin-left: 0.5rem;
    color: var(--secondary-color);
    font-weight: bold;
    color: var(--login-background);
}